In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
import time
from math import ceil
import timeit
import pickle

# Summarization and Review

- To be added

***

# Problem Statement

## Statement of Problem

## Data Cleaning and Preparation 

__to be hidden__

In [2]:
df_books =pd.read_csv('books.csv',encoding='ISO-8859-1',on_bad_lines='skip',delimiter=';')

/var/folders/ms/2ygwp03d4b5526gc0h51spqh0000gn/T/ipykernel_32179/2824912780.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_books =pd.read_csv('books.csv',encoding='ISO-8859-1',on_bad_lines='skip',delimiter=';')

In [3]:
df_books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
df_books_to_use = df_books[['Book-Title', 'Book-Author']].copy()

In [5]:
df_books_to_use['Book-Title']= df_books_to_use['Book-Title'].str.lower()

In [6]:
df_books_to_use['Book-Author']= df_books_to_use['Book-Author'].str.lower()

In [7]:
df_books_to_use

,Book-Title,Book-Author
0,classical mythology,mark p. o. morford
1,clara callan,richard bruce wright
2,decision in normandy,carlo d'este
3,flu: the story of the great influenza pandemic...,gina bari kolata
4,the mummies of urumchi,e. j. w. barber
...,...,...
271355,there's a bat in bunk five,paula danziger
271356,from one to one hundred,teri sloat
271357,lily dale : the true story of the town that ta...,christine wicker
271358,republic (world's classics),plato
271359,a guided tour of rene descartes' meditations o...,christopher biffle

In [8]:
df_books_to_use.loc[df_books_to_use['Book-Title'].str.contains("game of throne", case=False)]

                                               Book-Title          Book-Author
4713    a game of thrones (a song of ice and fire, boo...   george r.r. martin
154334  a game of thrones (a song of ice and fire, boo...  george r. r. martin
265910  a game of thrones (a song of ice and fire, boo...   george r.r. martin

In [9]:
df_books_to_use.drop_duplicates(subset=['Book-Title'], inplace=True)

In [10]:
df_books_to_use.sort_index(ascending=False, inplace=True)

In [11]:
df_books_to_use.reset_index(inplace=True, drop=True)

In [12]:
df_books_to_use.loc[df_books_to_use['Book-Title'].str.contains("game of throne", case=False)]

                                               Book-Title         Book-Author
234411  a game of thrones (a song of ice and fire, boo...  george r.r. martin

In [13]:
key_value_list = list(zip(df_books_to_use['Book-Title'], df_books_to_use['Book-Author']))
martin_tuple = key_value_list.pop(234411)

In [14]:
def generate_key_value_list(major_list, martin_tuple, num_entries=238964):
    if num_entries>len(major_list)+1:
        factor = ceil(num_entries/238964)
        new_major_list = major_list*factor
        return generate_key_value_list(new_major_list, martin_tuple, num_entries)
    else:
        list_to_return = random.sample(major_list, num_entries-1)
        list_to_return.append(martin_tuple)
        return list_to_return

In [15]:
def timer_function(func, arg, loops=10):
    start = time.time()
    for i in range(loops):
        func(*arg)
    stop = time.time()
    return ((stop-start)*1_000_000)/loops # returning time in microseconds

# List Implementation (Linear Search)

In [16]:
def find_in_list(object_list, book_name):
    """
    Find the book_name entry in the object list tuples.
    Parameters:
        object_list: list[tup[str,str]]
        book_name: str
    Returns:
        Return value is the ('Book-Title','Book-Author') tuple from the object_list
    """
    book_name = book_name.lower()
    for entry in object_list:
        if book_name == entry[0]:
            return entry
    return (0,0)

In [17]:
all_books_and_authors = generate_key_value_list(key_value_list, martin_tuple, 1_000_000)

In [18]:
all_books_and_authors[-1]

('a game of thrones (a song of ice and fire, book 1)', 'george r.r. martin')

In [19]:
GAME_OF_THRONES_BOOK = martin_tuple[0]

In [20]:
GAME_OF_THRONES_BOOK

'a game of thrones (a song of ice and fire, book 1)'

In [21]:
%%timeit
find_in_list(all_books_and_authors, GAME_OF_THRONES_BOOK)

140 ms ± 4.66 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [22]:
timer_function(find_in_list, [all_books_and_authors, GAME_OF_THRONES_BOOK], 7 )

136807.40765162878

In [23]:
generated_data_sets={}
for n in range(100_000,1_100_000, 100_000):
    generated_data_sets[n] = generate_key_value_list(key_value_list, martin_tuple, n)

In [24]:
linear_search_time= {}
for key in generated_data_sets:
    dataset= generated_data_sets[key]
    time_value = timer_function(find_in_list, [dataset, GAME_OF_THRONES_BOOK], 10)
    linear_search_time[key] = time_value

In [25]:
linear_search_time

{100000: 15722.70393371582,
 200000: 29996.800422668457,
 300000: 42789.98374938965,
 400000: 56557.89375305176,
 500000: 70831.20346069336,
 600000: 87599.9927520752,
 700000: 100222.51605987549,
 800000: 116976.71413421631,
 900000: 131284.78527069092,
 1000000: 145464.49184417725}

# Hash Table (Implementation)

In [26]:
def empty_hashtable(buckets):
    """
    Function takes number of buckets and returns a list of buckets size empty list
    Parameters:
        buckets: int
    Returns:
        Return value is list of empty lists.
        ReturnValue: list[list[]]
    """
    lol = []
    for i in range(buckets):
        lol.append([])
    return lol

In [27]:
def hash_function(key):
    """
    Function takes a key value and returns a hash code value for that key.
    Parameters:
        key: str
    Returns:
        ReturnValue: int
        Return value is the hash code of the function
    """
    h = 0 
    key = key.lower()
    for a in key:
        h = ((h * ord(a))) % 2147483647 + ord(a)
        # Dividing to stop the hash code from going excessively and arbritrary large 
        # Dividing by a prime to evenly space the hash code distributions
        # Interesting fact: 2147483647 is the 8th Mersenne Prime. 
    return h #hash code is returned

In [28]:
hash_function(GAME_OF_THRONES_BOOK)

948764657

In [29]:
empty = empty_hashtable(4)

In [30]:
def populate_hashtable(list_of_tups, buckets):
    """
    Function takes a list of tuples (of two strings, books and authors), and buckets to populate a hashtable
    Parameters:
        list_of_tups: list[tup[str,str]]
        buckets: int
    ReturnValue:
        required_ht: list[list[str,str]]
    ReturnValue is the populated hashtable of list of lists
    """
    required_ht = empty_hashtable(buckets)
    for entry in list_of_tups:
        book = entry[0]
        author = entry[1]
        hashcode_book = hash_function(book)
        bucket_book = hashcode_book % buckets
        required_ht[bucket_book].append(entry)
    return required_ht

In [31]:
built_hashtable = populate_hashtable(all_books_and_authors, 10_000)

In [32]:
def find_in_hashtable(given_ht, value_to_find):
    """
    Function takes the hashtable and value_to_find as paramter inputs to look for the value_to_find in the hash
    table, return the tuple if it finds it, else return (-1,-1)
    Parameters:
        given_ht: list[list[str,str]]
        value_to_find: str
    ReturnValue:
        entry: (str,str)
            : (-1,-1) if entry in hashtable is not found
    """
    hashcode_tofind = hash_function(value_to_find)
    buckets_ht = len(given_ht)
    bucket_tofind = hashcode_tofind % buckets_ht
    for entry in given_ht[bucket_tofind]:
        if entry[0]==value_to_find:
            return entry
    return (-1,-1)

In [33]:
find_in_hashtable(built_hashtable, GAME_OF_THRONES_BOOK)

('a game of thrones (a song of ice and fire, book 1)', 'george r.r. martin')

In [34]:
%%timeit
find_in_hashtable(built_hashtable, GAME_OF_THRONES_BOOK)

12.7 µs ± 59.2 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [35]:
hashtable_search_time = {}
for key in generated_data_sets:
    hashtable_search_time[key]={}
    for bucket_count in [1,2,5,10,50,100,1000]:
        dataset= generated_data_sets[key]
        built_hashtable = populate_hashtable(dataset, bucket_count)
        time_value = timer_function(find_in_hashtable, [built_hashtable, GAME_OF_THRONES_BOOK], 5)
        hashtable_search_time[key][bucket_count] = time_value

In [36]:
hashtable_search_time[100000]

{1: 13422.584533691406,
 2: 6162.786483764648,
 5: 2027.750015258789,
 10: 715.5895233154297,
 50: 143.4326171875,
 100: 77.39067077636719,
 1000: 17.976760864257812}

In [71]:
# saved earlier output of this code below
# hashtable_search_time = {}
# for key in generated_data_sets:
#     hashtable_search_time[key]={}
#     for bucket_count in range(1, 3001, 500):
#         dataset= generated_data_sets[key]
#         built_hashtable = populate_hashtable(dataset, bucket_count)
#         time_value = timer_function(find_in_hashtable, [built_hashtable, GAME_OF_THRONES_BOOK], 5)
#         hashtable_search_time[key][bucket_count] = time_value

# with open('experiments_time_hashfinds_big.pickle','wb') as f:
#     pickle.dump(hashtable_search_time, f, protocol=pickle.HIGHEST_PROTOCOL)

In [37]:
with open('experiments_time_hashfinds_small.pickle','wb') as f:
    pickle.dump(hashtable_search_time, f, protocol=pickle.HIGHEST_PROTOCOL)