In [4]:
import chardet
with open('books.csv', 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'ISO-8859-1', 'confidence': 0.7267479387348145, 'language': ''}

In [10]:
import pandas as pd
df=pd.read_csv('books.csv',encoding='ISO-8859-1',on_bad_lines='skip',delimiter=';')

/var/folders/3d/zfjrgdt504sdl7lwj8pz9lgc0000gn/T/ipykernel_11346/1563123186.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('books.csv',encoding='ISO-8859-1',on_bad_lines='skip',delimiter=';')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271359 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [14]:
df.shape

(271360, 8)

In [15]:
df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [26]:
df.loc[df['Book-Title'].str.contains("game of throne", case=False)]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
4713,0553573403,"A Game of Thrones (A Song of Ice and Fire, Boo...",George R.R. Martin,1997,Spectra Books,http://images.amazon.com/images/P/0553573403.0...,http://images.amazon.com/images/P/0553573403.0...,http://images.amazon.com/images/P/0553573403.0...
154334,0553103547,"A Game of Thrones (A Song of Ice and Fire, Boo...",George R. R. Martin,2002,Bantam,http://images.amazon.com/images/P/0553103547.0...,http://images.amazon.com/images/P/0553103547.0...,http://images.amazon.com/images/P/0553103547.0...
265910,0553381687,"A Game of Thrones (A Song of Ice and Fire, Boo...",GEORGE R.R. MARTIN,2002,Spectra,http://images.amazon.com/images/P/0553381687.0...,http://images.amazon.com/images/P/0553381687.0...,http://images.amazon.com/images/P/0553381687.0...

In [27]:
data=df['Book-Title']

In [28]:
len(data)

271360